*,
*:before,
*:after {
  box-sizing: inherit;
}
html{
      height: 100%;
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
      position: relative;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a:hover{ cursor:pointer}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
a,h1{color: white;}
h1{font-weight: bold;}
p{
	font-size: 1rem;
    line-height: 1.4rem
        
}
/*-----------------------------------Navigation----------------------------------------*/
.banner{
	background-image: url("nav-background.jpg");
	background-size: 100% 100%;
    min-height: 35vh;
}

.active-link{
    background-color: fuchsia;
}
.bird-img{
    max-width: 25vh;
}
/*-----------------------------------Animation----------------------------------------*/
.left{
    position: relative;
    animation-name: left;
    animation-duration: 3s;
}
@keyframes left {
    0%   {opacity:-8; right:100%;}
    80%{opacity: 1; }
    100% { right:0px;}
}
.right{
    position: relative;
    animation-name: right;
    animation-duration: 3s;
}
@keyframes right {
    0%   {opacity:-8; left:100%;}
    80%{opacity: 1; }
    100% { left:0;}
}
.down{
    position: relative;
    animation-name:down;
    animation-duration: 4s;
}
@keyframes down {
    0%   {opacity:-8;top:20vh;}
    80%{opacity: 1; }
    100% {top:0px;}
}
.up{
    position: relative;
    animation-name: up;
    animation-duration: 5s;
}
@keyframes up {
    0%{opacity:1; right: 20vh;bottom:0; }
    70%{opacity: -1;right: 0;}
    80%{opacity: 1;  bottom:10vh;right:0;}
    100% { bottom:0;}
}
/*-----------------------------------Section----------------------------------------*/
.bottom-pad{
    padding-bottom: 6rem;
}
#all{
    min-height: 100vh;
    background-repeat: no-repeat;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#viewAll-img{
    width:20%;
}
/*-----------------------------------Footer----------------------------------------*/
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5vh;
  background-color: #efefef;
  text-align: center;  
}

/*-----------------------------------Media Query----------------------------------------*/
@media only screen and (max-width: 768px) {
   .bird-img{
    max-width: 20vh;
}
    .banner{
    min-height: 30vh;
}
@media only screen and (max-width: 576px) {
    nav a{font-size: .9rem;}
    nav h1{font-size: 1.2rem;}
    h2{font-size: 1.6em}

    #viewAll-img{
        width:35%;
    }

}
